 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.WaitingList button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 7px 15px;
    Background-color: var(--White);
    color: var(--Paragraph);
    font-weight: 500;
    border: 1px solid var(--Gray);
    border-radius: 6px;
    font-size: 12px;
}

.WaitingList button svg {
    margin-right: 2px;
}

.WaitingList .ListItens {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column nowrap;
    background: var(--BorderHover);
    border-left: 1px solid var(--Border);
    backdrop-filter: blur(4px);
    position: fixed;
    transform: translateX(0);
    top: 0;
    right: 0;
    height: 100vh;
    width: 650px;
    padding-top: 3.5rem;
    transition: transform 0.3s ease-in-out;
    z-index: 99;
    box-shadow: 1px 1px 20px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 1px 20px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 20px 0px rgba(0,0,0,0.3);
}
.WaitingList .ListItensNone {
    transform: translateX(100%);
    flex-flow: column nowrap;
    background: var(--White);
    border-left: 1px solid var(--Border);
    backdrop-filter: blur(4px);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 500px;
    padding-top: 3.5rem;
    transition: transform 0.3s ease-in-out;
    z-index: 99;
}
.WaitingList .ListItens .buttons {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.WaitingList .ListItens .buttons button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 7px 15px;
    Background-color: var(--White);
    color: var(--Paragraph);
    font-weight: 500;
    border: 1px solid var(--Gray);
    border-radius: 6px;
    font-size: 12px;
    margin-top: -50px;
}

.WaitingList .ListItens .ListOptions {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.WaitingList .ListItensNone .ListOptions {
    width: 95%;
    display: none;
}

.WaitingList .ListItens .ListOptions h3 {
    font-weight: 700;
    color: var(--Primary);
    margin: 3px 0;
}
.WaitingList .ListItens .ListOptions h5 {
    color: var(--Gray);
    margin-bottom: 20px;
}


.WaitingList .ListItensNone .buttons {
    width: 95%;
    display: none;
}

.WaitingList .ListItens .ListOptions button {
    width: 30%;
    padding: 10px 20px;
    border: 1px solid var(--Primary);
    border-radius: 6px;
    background-color: var(--Primary);
    color: var(--White);
    margin: 20px 0;
}

.WaitingList .ListItens .ListOptions button svg {
    margin-right: 5px;
}

.WaitingList .ListItens .ListOptions .data {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 5px 0;
}
.WaitingList .ListItens .ListOptions .data h5 {
    font-weight: 700;
    color: var(--Gray);
    margin: 3px 0;
}

.WaitingList .ListItens .ListOptions .data input {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid var(--Gray2);
    border-radius: 6px;
    color: var(--Gray2);
    font-weight: 700;
}
.WaitingList .ListItens .ListOptions .data select {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid var(--Gray2);
    border-radius: 6px;
    color: var(--Gray2);
    font-weight: 700;
}

.WaitingList .ListItens .ListOptions .cep {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 15px 0 5px 0;
}

.WaitingList .ListItens .ListOptions .cep input {
    width: 85%;
    padding: 10px 20px;
    border: 1px solid var(--Gray2);
    border-radius: 6px;
    margin-right: 10px;
    color: var(--Paragraph);

}
.WaitingList .ListItens .ListOptions .cep button {
    width: 50px;
    height: 100%;
    padding: 0px;
    border: 1px solid var(--Edit);
    border-radius: 6px;
    background-color: var(--Edit);
    color: var(--White);
    font-weight: 700;
    margin: 0px;
}

.WaitingList .ListItens .ListOptions .cep button svg {
    margin: 0px;
}

@media(max-width:670px) {
    .WaitingList .ListItens {
        width: 100%;
        padding: 20px 10px;
    }

    .WaitingList .ListItens .buttons button {
        margin-top:0px;
    }

    @media(max-width: 600px) {
    
    @media(max-width: 450px) { 
.WaitingList .ListItens .ListOptions {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
 .WaitingList .ListItens .ListOptions button {
            width: 70%;
        }
        .WaitingList .ListItens .ListOptions .cep {
            width: 70%;
        }
        .WaitingList .ListItens .ListOptions .cep input {
            width: 100%;
        }
}
}
}