.MessagesBudget2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color:  var(--BorderHover);
    padding: 80px 20px 20px 20px;
    overflow: auto;
    margin-bottom: 80px;
}

.MessagesBudget2::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  .MessagesBudget2::-webkit-scrollbar-track {
    background: var(--BorderHover);        /* color of the tracking area */
  }
  
  .MessagesBudget2::-webkit-scrollbar-thumb {
    background-color: var(--Border);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid var(--BorderHover);  /* creates padding around scroll thumb */
  }
  

.MessagesBudget2 .msg1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 5px 0;
}
.MessagesBudget2 .msg1 .text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0px 10px;
    background-color: var(--Primary);
    border-radius: 10px;
    padding: 10px;
    color: var(--BorderHover);
}

.MessagesBudget2 .msg1 p {
    color: var(--BorderHover);
    margin: 10px 5px;
    font-size: 10px;
}
.MessagesBudget2 .msg1 h5 {
    font-weight: 700;
    color: var(--BorderHover);
    margin-left: 5px;
}

.MessagesBudget2 .msg1 .image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2); 
}
.MessagesBudget2 .msg1 .image img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}
.MessagesBudget2 .msg1 button {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--Button);
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    color: var(--White);
    font-weight: 700;
}



.MessagesBudget2 .msg2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 5px 0;
}
.MessagesBudget2 .msg2 .text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    margin: 0px 10px;
    background-color: rgba(170,0,0);
    border-radius: 10px;
    padding: 10px;
    color: var(--BorderHover);
}

.MessagesBudget2 .msg2 p {
    color: var(--BorderHover);
    margin: 10px 5px;
    font-size: 10px;
}
.MessagesBudget2 .msg2 h5 {
    font-weight: 700;
    color: var(--BorderHover);
    margin-left: 5px;
}

.MessagesBudget2 .msg2 .image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    
}
.MessagesBudget2 .msg2 .image img {
 width: 35px;
 height: 35px;
 border-radius: 50%;
 object-fit: cover;
 box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}
.MessagesBudget2 .msg2 button {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--Button);
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    color: var(--White);
    font-weight: 700;
}
.MessagesBudget2 textarea {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--Primary);
    border: 1px solid var(--Border);
    border-radius: 6px;
    padding: 5px;
    color: var(--Paragraph);
    margin: 30px 0 5px 0;
    resize: none;
}
.MessagesBudget2 .btn-message {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--Button);
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    color: var(--White);
    font-weight: 700;
    margin: 10px 0;
}


@media (max-width: 750px) {
    .MessagesBudget2 {
        width: 100%;
    } 
    .MessagesBudget2 .msg1 .text {
        width: 100%;
    }
    .MessagesBudget2 .msg2 .text {
        width: 100%;
    }
    .MessagesBudget2 .btn-message {
        width: 100%;
    }
}
