.btnUpload {
    background-color: var(--White);
    color: var(--White);
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 20px;
}

.btnUpload svg {
    font-size: 16px;
    margin-right: 3px;
    color: var(--Primary)
}