.MessagesProperty {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


.MessagesProperty .main {
    width: 100%;
    margin-top: 80px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.MessagesProperty .main .text {
    width: 80%;
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    margin: 10px;
}
.MessagesProperty .main .text .textTop {
    width: 550px;
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.MessagesProperty .main .text .textTop h3 {
    font-weight: bold;
    text-align: center;
}

.MessagesProperty .main .text .textTop button {
    border: none;
    color: var(--ButtonDisabled);
    background-color: var(--White);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.MessagesProperty .main .text .textTop button svg {
    margin-right: 3px;
    font-weight: bold;
}

.MessagesProperty .main .text h2 {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.MessagesProperty .main .text h3 {
    font-weight: 700;
    color: var(--Paragraph);
    text-align: center;
}
.MessagesProperty .main .text h3 svg{
    font-size: 45px;
    font-weight: 900;
    color: var(--Primary)
}
.MessagesProperty .main .text a{
    text-decoration: none;
}
.MessagesProperty .main .text .chat{
    width: 550px;
    border-radius: 4px;
    background-color: var(--BorderInput);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin: 5px 10px;
}

.MessagesProperty .main .text .chat .image{
    border-radius: 4px 0 0 4px;
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.MessagesProperty .main .text .chat .image img{
    border-radius: 4px 0 0 4px;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.MessagesProperty .main .text .chat .textChat{
    border-radius: 10px;
    background-color: var(--BorderInput);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    text-align:left;
}
.MessagesProperty .main .text .chat .textChat h3 {
    color: var(--Primary);
    font-weight: 700;
    margin: 0 10px;
    text-align:left;
  }

  .MessagesProperty .main .text .chat .textChat h5 {
    color: var(--Paragraph);
    margin: 0 10px;
    text-align:left;
  }
  .MessagesProperty .main .text .chat .textChat h6 {
    color: var(--Gray);
    margin: 5px 10px 0 10px;
    text-align:left;
  }

@media (max-width: 800px) {
    .MessagesProperty .main .text .chat{
        width: 450px;
        margin: 5px 0px;
    }

    .MessagesProperty .main .text .textTop {
        width: 450px;
    }
    @media (max-width: 735px) {
        .MessagesProperty .main .text .chat{
            width: 400px;
            margin: 5px 0px;
        }
    
        .MessagesProperty .main .text .textTop {
            width: 400px;
        }
    @media (max-width: 700px) {
        .MessagesProperty .main {
            margin-top: 50px;
            margin-bottom: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }

        .MessagesProperty .main .text {
            width: 100%;
            padding: 0px;
        }
        
        @media (max-width: 530px) {

            .MessagesProperty .main .text .chat{
                width:400px;
            }

            .MessagesProperty .main .text .textTop {
                width: 100%;
            }
    
            .MessagesProperty .main .text .chat .textChat h3 {
                font-size: 16px;
              }
            
              .MessagesProperty .main .text .chat .textChat h5 {
                font-size: 12px;
              }
              .MessagesProperty .main .text .chat .textChat h6 {
                font-size: 10px;
              }
              @media (max-width: 430px) {

                .MessagesProperty .main .text .chat{
                    width:350px;
                }

              @media (max-width: 380px) {

                .MessagesProperty .main .text .chat{
                    width:300px;
                }
        }
        }
        }


    }
    }
}

